.main-cols .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.main-block {
    text-align: justify;
}

.main-block a {
    text-decoration: underline;
}

#signature-list ul, #other ul {
    text-align: left;
    list-style-type: none; 
    list-style-position: inside;
    padding: 0px;
    margin: 0px;
}

#signature-list ul li, #other ul li {
    padding: 3px;
    border-bottom: 1px solid #ccc;
    margin-left: 0px;
    vertical-align: middle;
}

#signature-list ul li:last-of-type, #other ul li:last-of-type {
    border-bottom: none;
}

#signature-list ul span, #signature-list ul em {
    font-size: 90%;
    font-style: normal;
    color: #565656;
}

#signature-list u {
    text-decoration: none;
    color: firebrick;
}

#signature-list img {
    vertical-align: middle;
}

#other a {
    text-decoration: none;
}

#signature-list ul .col {
    padding: 0px !important;
}

/**************************************************/
/* TABS */

ul#signatures-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul#signatures-menu li {
    float: left;
    border: 1px solid #ccc;
    border-bottom-width: 0;
    margin: 0;
}

ul#signatures-menu a {
    text-decoration: none;
    display: block;
    background: #ddd;
    padding: 0.24em 0.5em;
    color: #707070;
    text-align: center;
    font-size: smaller;
}

ul#signatures-menu a:hover {
    background: #ddf;
}

ul#signatures-menu li {
    border-color: #fff;
}

ul#signatures-menu #selected {
    border-color: #ccc;
}

ul#signatures-menu #selected a {
    position: relative;
    top: 1px;
    background: white;
    color: black;
    font-weight: bold;
}

#all-signatures {
    margin: 1em 0px;
}

#all-signatures #signature-list {
    clear: left;
    border: 1px solid #ccc;
    padding: 0px;
}

#all-signatures #signature-list ul {
    padding: 0px 1em;
}

#all-signatures #signature-list ul.signature-list li {
    width: 50%;
    margin: 0px;
    float: left;
}

#signature-list #alphabet {
    margin: 1em 0px;
}

#signature-list #alphabet li {
    float: left;
    border: 0px;
    margin: 0px;
}

#signature-list #alphabet a {
    padding: 0px 0.25em;
    text-decoration: none;
}

#all-signatures ul.pagination {
    margin: 2em 0px !important;
}

.share-text {
    border: 1px solid #565656;
    padding: 0.5em;
}

.share-text a {
    font-family: monospace;
    text-decoration: none;
}

.share-text {
    padding: 20px;
}

.share-text img {
    float: left;
}

.share-text form {
    clear: left;
}

.share-text textarea, .share-text pre {
    background: white;
    border: 1px solid #565656;
    overflow: auto;
    font-family: monospace;
    width: 520px;
    height: 8em;
    padding: 1em;
    margin: 1em 0em;
}



.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.wrapper {
	min-height: 100%;
	margin: 0px; 
	padding: 0px 15px;
}
.container {
	min-height: 50% !important;
	margin: 0 auto;
	padding: 0;
}
.half-block {
	width: 560px;
	margin: 0; 
	padding: 0;
}

.progress {
    margin-bottom: 0px !important;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}
html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.header {
    width: 100%;
    height: 1px;
}
#page {
    width: 100%;
    height: auto;
}

#index .post {
    margin: 0px;
    padding: 0px;
}

footer {
    clear: both;
    margin-top: 30px;
    height: 1px;
}

::-moz-placeholder { color:#aaa !important; } /* firefox 19+ */
::-ms-input-placeholder { color:#aaa !important; } /* ie */
::-moz-placeholder { color: #aaa !important; }

ul {
    list-style-type: square;
    list-style-position: outside;
    padding-left: 2em;
}

h1, h2, h3 {
    text-align: left;
}

#first-signatories em {
    color: #707070;
    font-size: smaller;
    font-style: normal;
}

#first-signatories {
    padding-bottom: 2em;
}

.post p a{
    color:#465f1f;
    text-decoration:underline;
}
