
hr {
    height: 1px;
    padding: 0px;
    color: rgb(181, 197, 212);
    background-color: rgb(181, 197, 212);
    border: 0;
    margin-top: 12px;
    margin-bottom: 12px;
}

.form {
    border: 1px solid rgb(181, 197, 212);
    background-color: rgb(246, 246, 246);
    padding: 12px;
}

.form h2 {
    margin: 0;
}

.form td {
    padding: 3px;
}

.form input[type = "text"], .form textarea {
    margin-right: 12px;
    width: 100%;
}

.form-label {
    text-align: right;
}

.liste-candidats, .supertable {
    border-collapse: collapse;
}

.liste-candidats th, .supertable th {
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(181, 197, 212);
    padding: 6px;
    margin: 0px;
}

.liste-candidats td, .supertable td {
    border: 1px solid rgb(181, 197, 212);
    padding: 6px;
    margin: 0px;
    background-color: white;
}

pre {
    width: 500px;
    overflow: scroll;
}

.disabled {
    opacity: 0.4;
}

.click-button {
    border: 1px solid rgb(181, 197, 212);
    background: url(../images/now.png) no-repeat rgb(246, 246, 246);
    background-position: 0 3px;
    padding: 6px;
    margin: 0px;
    padding-left: 32px;
}

.connexiondone {
    background-color: peachpuff;
}

.toolbar {
    border: 1px solid rgb(181, 197, 212);	 
    background-color: rgb(246, 246, 246);
    padding: 0px;
    margin-bottom: 1em;
}

.toolbar-buttons {
    margin-left: 3px;
    border-left: 1px solid rgb(181, 197, 212);
    padding: 2px;
}

.toolbar-buttons p {
    margin: 0px;
    padding: 6px;
}

.toolbar-element {
    border-left: 1px solid rgb(181, 197, 212);
    padding-left: 12px;
}

.table-commands {
    padding: 2px;
    float: right;
}

.hover-button {
    padding: 6px;
    border: 2px solid rgb(246, 246, 246);
}

.hover-button img {
    vertical-align: middle;
    margin-right: 6px;
}

.hover-button:hover {
    border-right: 2px solid rgb(181, 197, 212);
    border-bottom: 2px solid rgb(181, 197, 212);
    border-left: 2px solid white;
    border-top: 2px solid white;
}

.hover-button:active {
    background-color: rgb(181, 197, 212);
    border-left: 2px solid rgb(181, 197, 212);
    border-top: 2px solid rgb(181, 197, 212);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.lang-chooser {
    float: right;
}

.debug {
    border: solid 1px black;
    overflow: auto; 
    width: 100%; 
    padding: 1.5em; 
    background-color: white;
    color: brick;
}

.elected {
    font-weight: bold;
    padding: 0 .5em 0 .5em;
    color: white;
    background-color: orange;
}

.finalist {
    font-weight: bold;
    padding: 0 .5em 0 .5em;
    color: white;
    background-color: green;
}

.flag option {
    background-position: center left;
    background-attachment: fixed;
    padding-left: 24px;
}

div.candidate_photo img, div.format_icon {
    border: 1px solid rgb(181, 197, 212);
    background-color: #fff;
    padding: 6px;
    margin: 6px;
    padding-bottom: 0px;
    text-align: center;
    float: right;
    margin-left: 12px;
}

div.candidate_photo img {
    margin: 0px;
    padding: 0px;
}

.photo_icon {
    text-align: center;
    align: center;
}

.party_description {
    font-style: italic;
    margin-left: 1em;
}

.party_description img {
    float: left;
    margin-right: 12px;
}

.party_logo {
    margin-top: 2em;
    text-align: center;
}

.election_logo {
    text-align: center;
}

.mandatory {
    border-bottom: 1px dashed red;
}

.important {
    font-weight: bold;
    color: red;
}

.linked_to_current td {
    background-color: rgb(246, 246, 246);
}



/***********/
/* POPUPS  */
/***********/
.popup {
    width: 320px;
    position: absolute;
    margin-top: -6px;
    background: url(../images/popup-arrowup.png) no-repeat;
    background-position: 0 0;
    vertical-align: middle;
}

.popup-inner {
    margin-top: 12px;
    background: #ffee99;
    padding: 6px;
    border-left: 1px solid #9e9e9e;
    border-right: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
}

.popup-inner img.popup-icon {
    padding-right: 6px;
    vertical-align: middle;
}

.popup-inner .popup-close {
    float: right;
    align: right;
    margin-left: 6px;
}

.popup-candidate-list {
    margin-top: 4px;
    padding-top: 4px;
    border-top: 1px solid #9e9e9e;
}

.popup-candidate {
    border-bottom: 1px solid #9e9e9e;
    min-height: 32px;
    margin: 0 0 4px 0;
    padding: 0 0 4px 0;
}

.popup-candidate img {
    float: left;
    margin: 0 4px 0 0;
}

.popup-candidate a {
    font-weight: bold;
}

.chapo {
    border-left: 1px solid #9e9e9e;
    padding: 0 0 0 12px;
}

.modification-date-cell {
    font-weight: bold;
}

.modification-content-cell {
    padding-left: 1em;
}

.content-block {
    padding-left: 1em;
}

.highlighted {
    background-color: #fce94f;
}

.different {
    background-color: #affcaf;
}

.normal {
    background-color: #ffffff;
}

#friends {
    clear: right; 
    align: right;
    text-align: left;
    margin-top: 0;
    padding-top: 0;
}

#friends h2 {
    margin-top: 0;
    padding-top: 0;
}

.candidate_minilink p {
    padding: 2px 2px 2px 32px;
    min-height: 32px;
    margin: 0;
    min-width: 200px;
}

.candidate_minilink img {
    vertical-align: middle;
    padding-right: 2px;
    float: left;
}

#adopted-button {
    border: 1px solid red;
    float: right;
    width: 72px;
    height: 72px;
    border: 1px solid red;
    border-radius: 36px;    
    -moz-border-radius: 36px;    
    -moz-box-shadow: 0px 0px 8px #ae3045;
    box-shadow: 0px 0px 8px #ae3045;
    text-align: center;
    vertical-align: middle;
}

.message, .notice {
    background: url('../images/notice.png') lightgreen;
    background-position: 1em 50%;
    background-repeat: no-repeat;
    padding: 1em 1em 1em 3em;
    border: none;
    margin: 2em 0em 1em 0em;
}

.error {
    background: url('../images/error.png')  #fcafaf;
    background-position: 1em 50%;
    background-repeat: no-repeat;
    padding: 1em 1em 1em 3em;
    -moz-box-shadow: 0px 0px 8px #cc0000;
    margin: 2em 0em 1em 0em;

}

#notifications {
    line-height: 24px;
    vertical-align: middle;
    height: 24px;
    padding: 0 6px 0 6px;
    margin: 4px;
    color: orange;
    background: #ff6;
    border: 1px solid orange;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

#notifications img  {
    border: 0;
}

#notifications a  {
    color: orange;
}

#notifications a:hover  {
    color: red;
}

/**************************************************/
