



            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{$gpt_base_url}/js/jquery-1.11.1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{$gpt_base_url}/js/bootstrap.min.js"></script>
    <script src="{$gpt_base_url}/js/dataTables.bootstrap.js"></script>

