/*!
 * jQVMap Version 1.0 
 *
 * http://jqvmap.com
 *
 * Copyright 2012, Peter Schmalfeldt <manifestinteractive@gmail.com>
 * Licensed under the MIT license.
 *
 * Fork Me @ https://github.com/manifestinteractive/jqvmap
 */
.jqvmap-label
{
	position: absolute;
	display: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid rgba(41,41,41,.8);
	border-radius: 3px;
	background: rgba(41,41,41,.7);
	color: white;
	font-size: smaller;
	padding: 3px;
}
.jqvmap-zoomin, .jqvmap-zoomout
{
	position: absolute;
	right: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: rgba(41,41,41,.7);
	padding: 0px;
	color: white;
	width: 25px;
	height: 25px;
	line-height: 20px;
	cursor: pointer;
	text-align: center;
	vertical-align: center;
}
.jqvmap-zoomin
{
	top: 10px;
}
.jqvmap-zoomout
{
	top: 40px;
}
.jqvmap-region
{
  cursor: pointer;
}
.jqvmap-ajax_response
{
  width: 100%;
  height: 500px;
}
.jqvmap-label h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0.5em;
}
.jqvmap-label p {
    margin: 0.5em;
}
